.cv-list-item {
  padding: 16px;
  border-bottom: 2px solid var(--black-color);
  cursor: pointer;
}

.cv-list-item:hover,
.cv-list-item.active {
  color: var(--white-color);
  background: var(--primary-color);
}

.cv-list-item-title {
  font-weight: 400;
}
