.cvListItem {
  padding: 16px;
  border-bottom: 2px solid var(--black-color);
  cursor: pointer;
}

.cvListItem:hover,
.cvListItem.active {
  color: var(--white-color);
  background: var(--primary-color);
}

.cvListItemTitle {
  font-weight: 400;
}
