.accordionListItem {
  cursor: pointer;
  padding: 10px;
  border-top: 2px solid var(--black-color);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.accordionListItem.active {
  color: var(--white-color);
  background: var(--primary-color);
  border-bottom: 2px solid var(--black-color);
}

.accordionItemTitle {
  font-weight: 400;
}

.contentContainer {
  flex-grow: 1;
}
