.headline {
  font-family: var(--primary-font);
}

.headline1 {
  font-size: 60px;
}

.headline2 {
  font-size: 48px;
}

.headline3 {
  font-size: 36px;
}

.headline4 {
  font-size: 24px;
}

.headline5 {
  font-size: 18px;
}