.dashboard-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.sidebar-container nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-container nav li .content {
  display: none;
}

.sidebar-container nav li.active .content {
  display: block;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 4px;
  margin-top: 10px;
}
