@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2710ea;
  --error-color: #f44336;
  --black-color: #000000;
  --white-color: #ffffff;

  --primary-font: "Space Mono", monospace;
  --secondary-font: "Montserrat", sans-serif;

  --font-size-xs: 12px;
  --font-size-sm: 16px;
  --font-size-base: 18px;
  --font-sile-l: 24px;
  --font-sile-xl: 36px;
  --font-sile-2xl: 48px;
  --font-sile-3xl: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  @apply font-primary;
}

p {
  @apply text-base;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-l;
}

h5 {
  @apply text-base;
}
